#actions-container{
    display: flex;
    margin: 0 1vw 1vh 1vw;
    column-gap: 1vh;
}

.menu-panel{
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 1vw;
    margin-right: 1vw;
}

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
}


#searchInput {
    flex: 3;
}

#searchField {
    flex: 1;
}

.header:hover{
    cursor: pointer;
    color: gold;
}

.container {
    margin-top: 0;
}

#pagination-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1vw;
    justify-content: start;
    margin-left: 1.5vw;
    font-weight: bold;
}

#pagination-container p:hover{
    color: gold;
    cursor: pointer;
}

#selected-page{
    color: gold;
}


@media print {
    .menu-panel {
        display: none;
    }
    .card {
        display: none;
    }
    .container {
        display: none;
    }
    #actions-container{
        display: none;
    }
}